extends main.pug
block content
        h2(class="sub-header") Leagues
        div(style={width: "60%"})
            form.form-horizontal(name="registerForm", action="/league/", method="POST")
                input(name="obj_id",type="hidden", value=league._id)
                .form-group
                    label(for="league_name",class="col-sm-2 control-label") League Name: 
                    .col-sm-10
                      input(name="league_name",type="text", class="form-control", id="league_name", placeholder="League Name" value=league.league_name)
                .form-group
                    label(for="date_start",class="col-sm-2 control-label") Starting Date: 
                    .col-sm-10
                      input(name="date_start",type="text", class="form-control", id="date_start", placeholder="Starting Date" value=league.date_start)
                .form-group
                    label(for="date_end",class="col-sm-2 control-label") End Date: 
                    .col-sm-10
                      input(name="date_end",type="text", class="form-control", id="date_end", placeholder="End Date" value=league.date_end)
                .form-group
                    label(for="sponsors",class="col-sm-2 control-label") Sponsors: 
                    .col-sm-10
                      input(name="sponsors",type="text", class="form-control", id="sponsors", placeholder="Sponsors", value=league.sponsors)
                .form-group
                    label(for="organiser",class="col-sm-2 control-label") Organiser: 
                    .col-sm-10
                      input(name="organiser",type="text", class="form-control", id="organiser", placeholder="Organiser", value=league.organiser)
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button(type="submit",class="btn btn-primary active") #{btn_caption}
                        a(href="/league/", class="btn btn-default", role="button") Cancel
