html
    head
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        title Registered users
    body
        h1 Registered users
        table.table.table-bordered
            tr
                th #
                th First Name
                th Last Name
                th Age
                th Sport Name
            each u, i in users
                tr
                    td #{i}
                    td #{u.first_name}
                    td #{u.last_name}
                    td #{u.age}
                    td #{u.sport_name}