extends main.pug
block content
        h2(class="sub-header") Matches
        a(href="/match/add", class="btn btn-primary active", role="button") Add New
        table.table.table-bordered.table-hover
            tr
                th #
                th Match Name
                th Number of team
                th Name
                th Actions
            if (matches.length)
                each u, i in matches
                    tr
                        td #{i+1}
                        td #{u.match_name}
                        td #{u.number_team}
                        if u.sport
                          td #{u.sport.desc}
                        else 
                          td #{u.sport_name}
                        td 
                            button(type="button", class="btn btn-danger btn-sm", onclick="delete_match('"+u._id+"');") Remove
                            a(href="/match/"+u._id, class="btn btn-primary btn-sm active", role="button") Edit
            else
                tr
                    td(colspan=5) No Matches