extends main.pug
block content
        h2(class="sub-header") Teams
        div(style={width: "60%"})
            form.form-horizontal(name="registerForm", action="/team/", method="POST")
                input(name="obj_id",type="hidden", value=team._id)
                .form-group
                    label(for="t_name",class="col-sm-2 control-label") Team Name: 
                    .col-sm-10
                      input(name="team_name",type="text", class="form-control", id="t_name", placeholder="Team Name" value=team.team_name)
                .form-group
                    label(for="t_number",class="col-sm-2 control-label")  Number of Team: 
                    .col-sm-10
                      input(name="team_number",type="text", class="form-control", id="t_number", placeholder="Plyer Number", value=team.team_number)
                .form-group
                    label(for="sport_id",class="col-sm-2 control-label") Sports: 
                    .col-sm-10
                        select(name="sport_name",class="form-control", id="sport_id")
                          if sport_list
                            each sp in sport_list
                              option(value=sp.name, selected="selected") #{sp.desc}
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button(type="submit",class="btn btn-primary active") #{btn_caption}
                        a(href="/team/", class="btn btn-default", role="button") Cancel
