extends main.pug
block content
        h2(class="sub-header") Teamers
        div(style={width: "60%"})
            form.form-horizontal(name="registerForm", action="/teamer/", method="POST")
                input(name="obj_id",type="hidden", value=teamer._id)
                .form-group
                    label(for="team_name",class="col-sm-2 control-label") Team Name: 
                    .col-sm-10
                      input(name="team_name",type="text", class="form-control", id="team_name", placeholder="Team Name" value=teamer.team_name)
                .form-group
                    label(for="player_number",class="col-sm-2 control-label") Number of player: 
                    .col-sm-10
                      input(name="player_number",type="text", class="form-control", id="player_number", placeholder="Number of player", value=teamer.player_number)
                .form-group
                    label(for="sport_id",class="col-sm-2 control-label") Sports: 
                    .col-sm-10
                        select(name="sport_name",class="form-control", id="sport_id")
                          if sport_list
                            each sp in sport_list
                              option(value=sp.name, selected="selected") #{sp.desc}
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button(type="submit",class="btn btn-primary active") #{btn_caption}
                        a(href="/teamer/", class="btn btn-default", role="button") Cancel
